html{
height: 100%;
width: 100%;
}

body{
  height: 98%;
  width: 98%;
  background-color: rgb(78, 78, 78);
}

h1{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  font-size: 200%;
  font-family: arial;
}

h2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 150%;
  font-family: arial;
}

.Div{
  position: absolute;
  left: 45%;
  top: 75%;
  transform: translate(-50%,-50%);
  background-color: white;
  height: 10%;
  width: 18%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

input{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 80%;
  width: 80%;
  text-decoration: none;
  border: 0px solid black;
  font-size: xx-large;
  font-family: arial;
  background-color: rgb(255, 255, 255);
}
button{
  position: absolute;
  left: 59%;
  top: 75%;
  transform: translate(-50%,-50%);
  width: 10%;
  height: 10%;
  text-decoration: none;
  border: 0px solid black;
  font-size: xx-large;
  font-family: arial;
  background-color: rgb(0, 34, 255);
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

button:hover{
  cursor: pointer;
}

input:focus{
  outline: none;
}

/* Base styles */
body {
  font-family: 'Arial', sans-serif;
}

/* iPhone 8, 8 Plus, iPhone SE (2nd generation) */
@media only screen 
  and (device-width : 375px) 
  and (device-height : 667px), 
  (device-width : 414px) 
  and (device-height : 736px) {
  /* Styles here */
}

/* iPhone X, XS, 11 Pro, 12 mini */
@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) {
  /* Styles here */
}

/* iPhone XR, XS Max, 11, 11 Pro Max */
@media only screen 
  and (device-width : 414px) 
  and (device-height : 896px) {
  /* Styles here */
}

/* iPhone 12, 12 Pro, 13, 13 Pro */
@media only screen 
  and (device-width : 390px) 
  and (device-height : 844px) {
  button{
  position: absolute;
  left: 70%;
  top: 75%;
  transform: translate(-50%,-50%);
  width: 10%;
  height: 10%;
  text-decoration: none;
  border: 0px solid black;
  font-size: xx-large;
  font-family: arial;
  background-color: rgb(0, 34, 255);
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  }

  .Div{
    position: absolute;
    left: 40%;
    top: 75%;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 10%;
    width: 18%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

/* iPhone 12 Pro Max, 13 Pro Max */
@media only screen 
  and (device-width : 428px) 
  and (device-height : 926px) {
  /* Styles here */
}
